
  .subscriber {
  
  }
  .publisher {

  }

  .OT_publisher, .OT_subscriber {
    position: absolute !important;
    
  }

  .OT_subscriber {
    float: right;
  } 
  
  #error {
    color: red;
  } 

